@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 47.3px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  background-color: #f5f5f7;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: 0;
  border: none;
}

@media (min-width: 64em) {
  .wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
  }
}

.cta--links .play-icon-after-outline::after, .cta--links .play-icon-after::after {
  content: "";
  width: 22px;
  height: 20px;
  background-size: 20px;
  transform: translateY(4px);
}

ion-icon {
  pointer-events: none;
  font-size: 0.85em;
}

.icon {
  fill: #fff;
  height: 20px;
  opacity: 0.8;
}
.icon:hover {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.icon-search-container {
  position: relative;
}
@media (min-width: 45.9375em) {
  .icon-search-container {
    position: initial;
  }
}

.icon-search {
  position: absolute;
  top: 6px;
  left: 5px;
  font-size: 1.375em;
  opacity: 0.5;
}
.icon-search:hover {
  opacity: 0.5;
}
@media (min-width: 45.9375em) {
  .icon-search {
    position: initial;
    opacity: 0.8;
    font-size: 1.25em;
    cursor: pointer;
  }
  .icon-search:hover {
    opacity: initial;
  }
}

.header {
  padding: 0.55em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ribbon {
  background-color: #f5f5f7;
  padding: 0.75em 1.5em;
  font-size: 0.875rem;
  text-align: center;
}
.ribbon > a {
  color: #06c;
  display: inline-block;
}
.ribbon > a:hover {
  text-decoration: underline;
}

.hamburger {
  padding: 0;
}
@media (min-width: 45.9375em) {
  .hamburger {
    display: none;
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 17px;
  height: 1px;
  background-color: #fff;
  border-radius: 0.5px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger--collapse .hamburger-inner::after {
  top: -10px;
}

.search-container {
  font-size: 1.0625rem;
  line-height: 1.23536;
  letter-spacing: -0.022em;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0;
  left: 0;
  padding: 0 0.625em;
  display: none;
}
@media (min-width: 45.9375em) {
  .search-container {
    position: initial;
    background-color: initial;
  }
}
.search-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #424245;
}
@media (min-width: 45.9375em) {
  .search-container::after {
    display: none;
  }
}

input[type=text] {
  padding: 0.45em;
  width: 100%;
  background-color: rgba(159, 159, 159, 0.2);
  margin-bottom: 0.625em;
  color: #fff;
  border-radius: 5px;
  padding-left: 2.1875em;
}
@media (min-width: 45.9375em) {
  input[type=text] {
    display: none;
  }
}

.nav {
  font-weight: 400;
  position: absolute;
  top: 47.3px;
  right: 0;
  left: 0;
  overflow: hidden;
}
@media (min-width: 45.9375em) {
  .nav {
    font-size: 0.875rem;
    position: initial;
    width: 70%;
  }
}
.nav__list {
  position: relative;
  margin-top: 3em;
  padding: 1em;
}
@media (min-width: 45.9375em) {
  .nav__list {
    position: initial;
    margin-top: initial;
    padding: initial;
    display: flex;
    justify-content: space-between;
  }
}
.nav__item {
  padding: 0.375em 1.25em;
}
.nav__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #424245;
  margin-bottom: 0.5em;
}
@media (min-width: 45.9375em) {
  .nav__item::before {
    display: none;
  }
}
.nav__item--border::before {
  content: "";
  display: none;
}
.nav__item > a {
  opacity: 0.8;
  display: block;
}
.nav__item > a:hover {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

@keyframes slideDownNav {
  0% {
    transform: scale(1.2) translateY(-10px);
  }
  100% {
    height: 100vh;
    background-color: #000;
  }
}
@keyframes slideUpNav {
  0% {
    height: 100vh;
    background-color: #000;
  }
}
.main {
  cursor: pointer;
  background-color: #fbfbfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ********************************** HERO ********************************** */
.hero {
  text-align: center;
}
.hero + .hero {
  margin-top: 0.9375em;
}
.hero--background {
  background-color: #000;
}
.hero__content {
  margin-top: 1.875em;
}
.hero__headline {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.004em;
}
.hero__headline--col {
  color: #fff;
}
@media (min-width: 45.9375em) {
  .hero__headline {
    font-size: 3rem;
  }
}
@media (min-width: 64em) {
  .hero__headline {
    font-size: 3.5rem;
  }
}
.hero__headline--logo-font {
  font-size: 2em;
}
.hero__subhead {
  font-size: 1.1875rem;
  font-weight: 400;
}
.hero__subhead--col {
  color: #fff;
}
@media (min-width: 45.9375em) {
  .hero__subhead {
    font-size: 1.5rem;
  }
}
@media (min-width: 64em) {
  .hero__subhead {
    font-size: 1.75rem;
  }
}
.hero__subhead--font {
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: 0.004em;
  font-weight: 500;
}
@media (min-width: 45.9375em) {
  .hero__subhead--font {
    font-size: 3rem;
    line-height: 1.08349;
    letter-spacing: -0.002em;
  }
}
@media (min-width: 64em) {
  .hero__subhead--font {
    font-size: 3.5rem;
    line-height: 1.07143;
    letter-spacing: -0.005em;
  }
}
.hero__price {
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.42859;
  letter-spacing: -0.016em;
  color: #86868b;
}
@media (min-width: 45.9375em) {
  .hero__price {
    font-size: 1.0625rem;
  }
}

.cta--links {
  margin-top: 1.25em;
}
.cta--links--mt {
  margin-top: 0.625em;
}
.cta--links .hero-link-font {
  font-size: 1.3125em;
  font-weight: 300;
}
.cta--links .dark-theme-link-col {
  color: #2997ff;
}
.cta--links > a {
  color: #06c;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.21053;
  letter-spacing: 0.011em;
}
.cta--links > a::after {
  content: ">";
  padding-left: 0.3em;
  display: inline-block;
}
.cta--links > a:hover {
  display: inline-block;
  text-decoration: underline;
}
.cta--links > a + a {
  padding-left: 1.25em;
}
.cta--links .arrow-hide::after {
  display: none;
}
.cta--links .icon-after::after {
  content: "↗";
  display: inline-block;
  color: #06c;
}
.cta--links .icon-after-pr {
  padding-right: 1.25em;
}
.cta--links .play-icon-after {
  color: #fff;
}
.cta--links .play-icon-after::after {
  background: url("../icons/play-circle.svg") center no-repeat;
}
.cta--links .play-icon-after-outline::after {
  background: url("../icons/play-icon-outline.svg") center no-repeat;
}

/* ****************************** CARD SECTION ****************************** */
.card {
  display: grid;
  gap: 10px;
  text-align: center;
  color: #fff;
  margin-top: 0.75em;
}
@media (min-width: 45.9375em) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1em;
  }
}
.card__wrapper {
  position: relative;
  height: 100%;
}
.card__split-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.card__content {
  background-color: #000;
  padding-top: 2.5em;
  cursor: pointer;
}
.card__content--light {
  background-color: #fbfbfd;
}
.card__content--flex {
  display: flex;
  flex-direction: column-reverse;
  padding: 2em 0;
}
@media (min-width: 64em) {
  .card__content--flex {
    display: initial;
  }
}
.card__header {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}
@media (min-width: 45.9375em) {
  .card__header--pt {
    padding-top: 25px;
  }
}
@media (min-width: 64em) {
  .card__header {
    font-size: 2.5rem;
  }
}
.card__header--capitalize {
  text-transform: capitalize;
}
.card__header--lowercase {
  text-transform: lowercase;
}
.card__header--col {
  color: #000;
}
.card__header--display {
  display: none;
}
@media (min-width: 64em) {
  .card__header--display {
    display: block;
    text-transform: none;
  }
}
.card__subhead {
  font-size: 1.1875rem;
  font-weight: 300;
  padding: 0 1em;
}
@media (min-width: 64em) {
  .card__subhead {
    font-size: 1.3125rem;
  }
}
.card__subhead--col {
  color: #000;
}
.card__subhead--y {
  transform: translateY(14px);
}
.card p {
  color: #d12d38;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}

.arcade-background {
  background: url("../images/arcade_small.png") bottom 30px center no-repeat;
  background-size: 720px;
  height: 550px;
}
@media (min-width: 45.9375em) {
  .arcade-background {
    background-image: url("../images/arcade_med.png");
    background-size: 1068px;
    height: 694px;
  }
}
@media (min-width: 64em) {
  .arcade-background {
    background-image: url("../images/arcade_large.png");
    background-size: 3008px;
    height: 624px;
  }
}

.iphone-12-image {
  background: url("../images/iphone_12_small.png") center no-repeat;
  background-size: 300px;
  height: 275px;
  margin-top: 20px;
}
@media (min-width: 45.9375em) {
  .iphone-12-image {
    background-image: url("../images/iphone_12_med.png");
    background-size: 675px;
    height: 450px;
  }
}
@media (min-width: 64em) {
  .iphone-12-image {
    background-position: center bottom -100px;
    height: 360px;
  }
}

.iphone-12-pro-image {
  background: url("../images/iphone_12_pro_small.png") center no-repeat;
  background-size: 300px;
  height: 275px;
  margin-top: 3.125em;
}
@media (min-width: 45.9375em) {
  .iphone-12-pro-image {
    background-image: url("../images/iphone_12_pro_med.png");
    height: 400px;
    background-size: 800px;
  }
}
@media (min-width: 64em) {
  .iphone-12-pro-image {
    height: 500px;
    background-size: 1000px;
  }
}

.apple-watch {
  background: url("../images/apple_watch_small.png") center no-repeat;
  background-size: 207px;
  height: 333px;
  margin-top: 20px;
}
@media (min-width: 45.9375em) {
  .apple-watch {
    background-size: 240px;
    height: 380px;
  }
}

.ipad-air {
  background: url("../images/ipad_air_small.png") center no-repeat;
  background-size: 700px;
  height: 380px;
}
@media (min-width: 45.9375em) {
  .ipad-air {
    background-image: url("../images/ipad_air_med.png");
    background-size: 500px;
  }
}
@media (min-width: 64em) {
  .ipad-air {
    background-image: url("../images/ipad_air_large.png");
    background-size: 1200px;
  }
}

.airpod-pro {
  background: #c0c9ba url("../images/airpods_pro_small.png") center no-repeat;
  background-size: cover;
  height: 548px;
}
@media (min-width: 45.9375em) {
  .airpod-pro {
    background-image: url("../images/airpods_pro_med.png");
    height: initial;
  }
}
@media (min-width: 64em) {
  .airpod-pro {
    background-image: url("../images/airpods_pro_large.png");
  }
}

.apple-fitness {
  background: url("../images/apple_fitness_small.png") center left no-repeat;
  background-size: 700px;
  height: 420px;
}
@media (min-width: 64em) {
  .apple-fitness {
    background: url("../images/apple_fitness_large.png") center left 110px no-repeat;
    background-size: 730px;
  }
}

.apple-tv {
  background: #aba79c url("../images/promo_tile_small.png") center no-repeat;
  background-size: cover;
  height: 465px;
}
@media (min-width: 45.9375em) {
  .apple-tv {
    height: initial;
    background-image: url("../images/promo_tile_med.png");
  }
}
@media (min-width: 64em) {
  .apple-tv {
    background-image: url("../images/promo_tile_large.png");
  }
}

.apple-one {
  background: url("../images/tile_apple_one_small.png") center no-repeat;
  background-size: 346px;
  height: 300px;
}
@media (min-width: 45.9375em) {
  .apple-one {
    background-image: url("../images/tile_apple_one_med.png");
    background-size: 450px;
    height: 450px;
  }
}
@media (min-width: 64em) {
  .apple-one {
    background-image: url("../images/tile_apple_one_large.png");
    background-size: 600px;
  }
}

.footnote {
  color: #86868b;
}
.footnote:hover {
  color: #06c;
}
.footnote-alt {
  color: #06c;
}
.footnote-alt:hover {
  color: #2997ff;
}

.footer {
  padding: 0 1em;
  font-size: 0.8125rem;
  padding-bottom: calc(2em - 10px);
}

/* ************************** GLOBAL FOOTER STYLES ************************** */
.global-footer {
  color: #86868b;
}

.global-footer-link {
  color: #515154;
}
.global-footer-link:hover {
  text-decoration: underline;
  color: #1d1d1f;
}

/* ************************** TERMS AND CONDITIONS ************************** */
.tc {
  letter-spacing: -0.01em;
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 11px;
}
.tc__item {
  padding-bottom: 0.625em;
}

/* ******************************** DIRECTORY ******************************* */
.directory {
  padding-top: 1.25em;
}
@media (min-width: 45.9375em) {
  .directory {
    display: flex;
  }
}
.directory__column {
  color: #1d1d1f;
}
@media (min-width: 45.9375em) {
  .directory__column {
    flex-basis: 25%;
  }
}
.directory__body {
  border-bottom: 1px solid #d2d2d7;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (min-width: 45.9375em) {
  .directory__body {
    border-bottom: none;
    margin-top: 1.5rem;
  }
}
.directory__input {
  display: none;
}
.directory__input:checked + .directory__label span::after {
  transform: rotate(45deg) scale(1.08);
  transition: transform 300ms ease;
}
.directory__input:checked ~ .directory__list {
  position: static;
  visibility: visible;
  transform: none;
  transition: transform 300ms ease;
}
.directory__title {
  cursor: pointer;
  padding: 10px 0 10px;
  font-size: 0.875rem;
  display: block;
  background-color: #f5f5f7;
  position: relative;
  z-index: 2;
}
@media (min-width: 45.9375em) {
  .directory__title {
    cursor: default;
    font-weight: 400;
  }
}
.directory__title::after {
  content: "+";
  float: right;
  font-size: 0.875rem;
  margin: 2px 8px 0 0;
  transition: transform 300ms ease;
}
@media (min-width: 45.9375em) {
  .directory__title::after {
    display: none;
  }
}
.directory__list {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  transform: translateY(-100px);
}
@media (min-width: 45.9375em) {
  .directory__list {
    overflow: initial;
    visibility: visible;
    position: static;
    transform: none;
  }
}
.directory__item {
  margin-bottom: 0.8em;
  padding: 2px 14px;
}
@media (min-width: 45.9375em) {
  .directory__item {
    padding: initial;
  }
}
.directory__item a {
  color: #515154;
}

/* ****************************** FOOTER BOTTOM ***************************** */
.footer-bottom {
  padding-top: 2.125em;
}
.footer-bottom__shop {
  margin-bottom: 0.4375em;
  padding-bottom: 0.5em;
}
@media (min-width: 64em) {
  .footer-bottom__shop {
    border-bottom: 1px solid #d2d2d7;
  }
}
.footer-bottom__shop > a {
  color: #06c;
}
.footer-bottom__shop > a:hover {
  text-decoration: underline;
}
.footer-bottom__link {
  border-right: 1px solid #d2d2d7;
  display: inline-block;
  margin: 0.3125em 0.4375em 0 0;
  padding-right: 0.625em;
}
.footer-bottom__link:last-child {
  border: none;
}
.footer-bottom__copyright {
  color: #86868b;
}
@media (min-width: 75em) {
  .footer-bottom__copyright {
    float: left;
    margin-right: 6.25em;
    margin-top: 5px;
  }
}
.footer-bottom__locale {
  padding-bottom: 0.3125em;
  display: flex;
  align-items: center;
}
.footer-bottom__locale::before {
  content: "";
  background: url("../icons/uk_flag_icon.png") center no-repeat;
  background-size: 15px;
  display: inline-block;
  height: 20px;
  width: 20px;
  padding-right: 8px;
}
@media (min-width: 45.9375em) {
  .footer-bottom__locale {
    float: right;
    padding-bottom: initial;
    padding-top: 0.25em;
  }
}
.footer-bottom__legal {
  padding-top: 0.75em;
}
@media (min-width: 45.9375em) {
  .footer-bottom__legal {
    padding-top: initial;
  }
}

/*# sourceMappingURL=styles.css.map */
