// ==========================================================================
// Footnote
// ==========================================================================

.footnote {
  color: $jumbo;

  &:hover {
    color: $conflowerBlue;
  }

  &-alt {
    color: $link--col;

    &:hover {
      color: $dodgerblue;
    }
  }
}
