// ==========================================================================
// Hero Images
// ==========================================================================

.arcade-background {
  background: url('#{$path--rel}/arcade_small.png') bottom 30px center no-repeat;
  background-size: 720px;
  height: 550px;

  @media #{$break--m} {
    background-image: url('#{$path--rel}/arcade_med.png');
    background-size: 1068px;
    height: 694px;
  }

  @media #{$break--l} {
    background-image: url('#{$path--rel}/arcade_large.png');
    background-size: 3008px;
    height: 624px;
  }
}

.iphone-12-image {
  background: url('#{$path--rel}/iphone_12_small.png') center no-repeat;
  background-size: 300px;
  height: 275px;
  margin-top: $mt;

  @media #{$break--m} {
    background-image: url('#{$path--rel}/iphone_12_med.png');
    background-size: 675px;
    height: 450px;
  }

  @media #{$break--l} {
    background-position: center bottom -100px;
    height: 360px;
  }
}

.iphone-12-pro-image {
  background: url('#{$path--rel}/iphone_12_pro_small.png') center no-repeat;
  background-size: 300px;
  height: 275px;
  margin-top: em(50px);

  @media #{$break--m} {
    background-image: url('#{$path--rel}/iphone_12_pro_med.png');
    height: 400px;
    background-size: 800px;
  }

  @media #{$break--l} {
    height: 500px;
    background-size: 1000px;
  }
}
